@model JahanAraShop.Models.GoodViewModel
@{
    ViewBag.Title = ViewBag.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main single-product">
    <div class="container">
        <div class="row">
            <h1 hidden>محصول</h1>
            <div class="col-md-12 col-sm-12">
                <ul class="breadcrumb dir" id="Group">

                    <li><a href=@Url.Action(MVC.Home.Index())>صفحه اصلی</a></li>
                    @foreach (var item in ViewBag.GoodGroup)
                    {
                        int ID = Convert.ToInt32(item.Value);
                        <li class=@(ID==ViewBag.GroupID ? "active" : "")>
                            <input type="hidden" value="@ID" />
                            @(item.Text)
                        </li>

                    }
                </ul>
            </div>
        </div>
        <!--breadcrumb-->
        <div class="row product sec-mar">
            <div class="col-md-6 col-sm-6 image pdt-single-slider dirfloat">
                <div class="product-thumb-slider layout-btm-thumb">
                    <div class="slide-top  img-hover-zoom">

                        @foreach (var item in Model.Good)
                        {
                            <ul class="pdt-single-alt single-2">
                                @if (System.IO.File.Exists(Server.MapPath(JahanAraShop.Application.Resources.Paths.ImageFolder + "Products/") + item.BarCode + ".png"))
                                {
                                    <li>
                                        <figure>
                                                <img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/@(item.BarCode).png" alt="@item.Name">
                                        </figure>
                                    </li>
                                    @*<li>
                                            <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/@(item.BarCode).png" alt="@item.Name"></figure>
                                        </li>
                                        <li>
                                            <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/@(item.BarCode).png" alt="@item.Name"></figure>
                                        </li>
                                        <li>
                                            <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/@(item.BarCode).png" alt="@item.Name"></figure>
                                        </li>
                                        <li>
                                            <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/@(item.BarCode).png" alt="@item.Name"></figure>
                                        </li>
                                        <li>
                                            <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/@(item.BarCode).png" alt="@item.Name"></figure>
                                        </li>*@
                                }
                                else
                                {
                                    <li>
                                        <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/defult.png" alt="@item.Name"></figure>
                                    </li>
                                }
                            </ul>
                        }
                        <div class="prodct-extras btn-wrap">
                            <a href="#slider-main" class="sz--trigger circle-btn sec-bg trans" title="Click or touch and drag to spin">
                                <span class="icn"><i class="icofont  icofont-hand-drag2"></i></span>
                                <span class="expand trans">360 Product view</span>
                            </a>
                            <br>
                            <a href="#" class="lightcase--trigger circle-btn sec-bg trans">
                                <span class="icn"><i class="icofont  icofont-play"></i></span>
                                <span class="expand trans">View product video</span>
                            </a>
                        </div>
                    </div>
                    @*<ul class="pdt-thumb-alt thumb-2">

                            <li>
                                <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/8410412021845.png" alt=''></figure>
                            </li>
                            <li>
                                <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/8410412021845.png" alt=''></figure>
                            </li>
                            <li>
                                <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/8410412021845.png" alt=''></figure>
                            </li>
                            <li>
                                <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/8410412021845.png" alt=''></figure>
                            </li>
                            <li>
                                <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/8410412021845.png" alt=''></figure>
                            </li>
                            <li>
                                <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/8410412021845.png" alt=''></figure>
                            </li>
                        </ul>*@
                </div>
            </div>

            <!--slider-->
            <div class="col-md-6 col-sm-6 summary dirfloat">
                <div class="wrap dir">
                    @foreach (var item in Model.Good)
                    {

                        var price = 0;
                        if (item.DiscountValue == 0 || item.DiscountValue == null)
                        {
                            price = Convert.ToInt32(item.RetailPrice.Value);
                        }
                        else
                        {
                            price = Convert.ToInt32(item.RetailPrice - item.DiscountValue);

                        }

                        <h3>@item.Name</h3>
                        <div class="price-wrap">
                            <div class="price">
                                @if (item.DiscountPercent.Value != 0 || item.DiscountValue.Value!=0)
                                {
                                    <del>@item.RetailPrice.Value.ToString("#,##0")</del>
                                }
                                
                                <ins>@price.ToString("#,##0") &nbsp; ریال </ins>
                            </div>
                            <div class="star-rate">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i>
                            </div>
                        </div>

                    <!--price wrap-->
                        <div class="disc bm-25">
                            @item.Notes
                        </div>

                    <!--disc-->
                        <div class="flx-element bm-30" data-quntity="@item.HasRemiand" id="quntity">
                            <div>
                                <strong>وضعیت :</strong>
                                @if (item.HasRemiand == true)
                                {
                                    <span>موجود</span>
                                    <span class="text-green"><i class="fa fa-check"></i></span>
                                }

                                else
                                {
                                    <span>ناموجود</span>
                                    <span style="color:red;"><i class="fa fa-times"></i></span>

                                }
                                <br />
                                @if (item.Name3 != null)
                                {
                                    <strong>کد وزارت بهداشت :</strong>
                                    <span>@item.Name3</span>
                                }

                            </div>
                        </div>
                    <!--flex-->

                        <div class="btn-wrap bm-30">
                            <a href="#" class="btn pri-bg" data-placement="top" id="btn-Cart" data-code="@item.BarCode"><i class="pe-7s-cart"></i> افزودن به سبد خرید</a>
                        </div>

                        <hr class="bm-30">
                        <div class="product-extra-options btn-wrap bm-20">
                            <a onclick="AddToWishList()" id="WishList" data-id="@item.ID"><i class="pe-7s-like"></i> افزودن به علاقه مندی ها</a>
                            <a href="#"><i class="pe-7s-shuffle"></i> مقایسه</a>

                        </div>
                    }
                    <!--btn wrap-->

                </div>
            </div>
            <!--summery-->
        </div>

        <!--product-->
        <div class="row product sec-mar">
            <div class="col-md-12 col-sm-12 dir">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs sec-font" role="tablist">
                    <li class="active"><a href="#description" data-toggle="tab">مشخصات محصول</a></li>
                    <li><a href="#information" data-toggle="tab">درباره برند</a></li>
                    <li><a href="#reviews" data-toggle="tab">نظرات کاربران</a></li>
                </ul>
                <!-- Tab panes -->
                @foreach (var item in Model.Good)
                {
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="description">
                            <p>
                                @item.Notes;
                            </p>

                        </div>
                        <!--description-->
                        <div role="tabpanel" class="tab-pane" id="information">
                            درباره برند
                        </div>
                        <!--information-->

                        <div role="tabpanel" class="tab-pane" id="reviews">
                            <div class="col-md-6">
                                <div class="row content_full_width ">
                                    <b>
                                        دیگران را با نوشتن نظرات خود، برای انتخاب این محصول راهنمایی کنید.
                                    </b>
                                    <br />

                                    <br class="clearfix" />
                                    <p>فارسی بنویسید و از کیبورد فارسی استفاده کنید. بهتر است از فضای خالی (Space) بیش‌از‌حدِ معمول، شکلک یا ایموجی استفاده نکنید و از کشیدن حروف یا کلمات با صفحه‌کلید بپرهیزید.</p>
                                    <p>بهتر است در نظرات خود از تمرکز روی عناصر متغیر مثل قیمت، پرهیز کنید.</p>
                                    <p>به کاربران و سایر اشخاص احترام بگذارید. پیام‌هایی که شامل محتوای توهین‌آمیز و کلمات نامناسب باشند، حذف می‌شوند.</p>

                                </div>
                            </div>
                            @using (Html.BeginForm("AddReview", "Product", FormMethod.Post, new { role = "form" }))
                            {


                                <div class="col-md-6 col-sm-6" style="float:right">
                                    @Html.HiddenFor(m => m.Reviews.GoodID, new { Value = item.ID })
                                    @Html.HiddenFor(m => m.Reviews.Rating, new { id = "rates", value = 3 })

                                    <label>عنوان نظر شما (اجباری) :</label>
                                    @Html.TextBoxFor(m => m.Reviews.Name, new { placeholder = "نام " })
                                    @Html.ValidationMessageFor(model => model.Reviews.Name, "", new { @class = "blockdisp text-danger" })
                                    <br />
                                    <br />
                                    <label>متن نظر شما (اجباری) : </label>
                                    @Html.TextAreaFor(m => m.Reviews.Description, new { placeholer = "متن" })
                                    @Html.ValidationMessageFor(model => model.Reviews.Description, "", new { @class = "blockdisp text-danger" })

                                    <div class="rating-stars text-center">
                                        <ul id="stars">
                                            <li class="star selected" title="Poor" data-value="1">
                                                <i class="fa fa-star fa-fw"></i>
                                            </li>
                                            <li class="star selected" title="Fair" data-value="2">
                                                <i class="fa fa-star fa-fw"></i>
                                            </li>
                                            <li class="star selected" title="Good" data-value="3">
                                                <i class="fa fa-star fa-fw"></i>
                                            </li>
                                            <li class="star" title="Excellent" data-value="4">
                                                <i class="fa fa-star fa-fw"></i>
                                            </li>
                                            <li class="star" title="WOW!!!" data-value="5">
                                                <i class="fa fa-star fa-fw"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="submit" value="ثبت نظر">
                                </div>

                            }

                            @foreach (var review in Model.ReviewsList)
                            {

                                <div class="row ">
                                    <div class="col-md-12 col-xs-12  showreview">
                                        <br />
                                        <p class="content_full_width_cooking ">@review.FarsiCreateDate</p>

                                        <span><i class="fa fa-clock-o"> </i> @review.Name</span>
                                        <br />
                                        <span class="newsp ">@review.Description</span>
                                        <br /> <br />
                                        <br />
                                    </div>
                                </div>

                            }

                        </div>
                        <!--reviews-->
                    </div>
                }
            </div>
        </div>
        <!--descripton tab-->
    </div>

</main>
<div id="slider-main">
    <div id="threesixty-view" class="threesixty-gallery-container">
        <div class="threesixty-gallery threesixty-gallery-view">
            <div class="spinner">
                <span>0%</span>
            </div>
            <ol class="threesixty_images"></ol>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="AddedBefore" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content dir">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">علاقه مندی</h4>
            </div>
            <div class="modal-body">
                <p>قبلا به لیست علاقه مندی اضافه شده است.</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Added" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content dir">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">علاقه مندی</h4>
            </div>
            <div class="modal-body">
                <p>به لیست علاقه مندی اضافه شد.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/Content/js/js.cookie.js");
    <script type="text/javascript">
        var BasketCookie = 'JahanAraShopBasket';
        var BasketCountCooki = 'JahanAraShopBasketCount';

        //for firstload check if exsit or not
        $(document).ready(function () {
            GetWishList();
            var code = jQuery("#btn-Cart").data("code");
            var json_str = Cookies.get(BasketCookie);
            var arr = JSON.parse(json_str);
            var hasquntity = jQuery("#quntity").data("quntity");
            if (hasquntity == "False") {

                jQuery("#btn-Cart").text("موجود نیست");
                jQuery("#btn-Cart").attr("disabled", 'disabled');
            }
            var exist = false; //بررسی اینکه آیا عنصر موردنظر درآرایه وجود دارد یا نه
            for (var i = 0; i < arr.length; i++) {
                if (arr[i].slice(0, arr.indexOf(':') - 1) == code) {
                    jQuery("#btn-Cart").attr("disabled", 'disabled');
                    break;
                }
            }



        });

        $("#Group li").click(function () {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
            var GroupId = parseInt($(this).parent().find('li.active input').val());
            window.location = '@Url.Action("Categories", "Product")?groupid=' + GroupId;
        });



        //در صورتی که روی یک دکمه کلید شد
        jQuery("#btn-Cart").click(function () {

            var item = jQuery(this)[0];
            var code = jQuery(item).data("code");

            if (Cookies.get(BasketCookie) == undefined) {
                //ایجاد یک ارایه جدید
                var arr = [code + ':1'];
                //اضافه کردن آرایه به یک کوکی جدید به شکل جیسون
                Cookies.set(BasketCookie, JSON.stringify(arr));
                //ست کردن تعداد محصولات انتخاب شده در سبد کالا
                Cookies.set(BasketCountCooki, '1');
                jQuery(".BasketCount").html('1');
                jQuery("#btn-Cart").attr("disabled", 'disabled');
                notifyBasket();
            }

            else {

                var json_str = Cookies.get(BasketCookie);
                var arr = JSON.parse(json_str);
                var exist = false; //بررسی اینکه آیا عنصر موردنظر درآرایه وجود دارد یا نه
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].slice(0, arr.indexOf(':') - 1) == code) {
                        jQuery("#btn-Cart").removeClass("actn add-to-cart");
                        //alert('کالا در سبد خرید شما قبلا اضافه شده است..');
                        exist = true;
                        break;
                    }
                }
                if (!exist) {

                    //اضافه کردن عنصر جد ید ارایه ای که قبلا در کوکی ذخیره شده بود
                    arr.push(code + ':1');
                    Cookies.set(BasketCookie, JSON.stringify(arr));
                    //اضافه کردن یک واحد به تعداد آبتم های داخل سبد کالا
                    var ct = parseInt(Cookies.get(BasketCountCooki)) + 1;
                    Cookies.set(BasketCountCooki, ct);
                    jQuery(".BasketCount").html(ct);
                    jQuery("#btn-Cart").attr("disabled", 'disabled');
                    notifyBasket();
                }
            }



        });

        function notifyBasket() {
            $(this).bstooltip('hide');
            $.amaran({
                content: {
                    title: 'سبد خرید',
                    message: 'با موفقیت به  سبد خرید اضافه شد',
                    info: '',
                    icon: 'icofont icofont-cart-alt'
                },
                position: 'top right',
                delay: 4000,
                theme: 'awesome ok'

            });
        }
        //add to wishlist
        function AddToWishList() {

            var goodid = jQuery($("#WishList")).data("id");
            $.ajax({
                type: 'Post',
                url: '/Product/AddWishList/',
                data: { "GoodID": goodid },
                dataType: "json",
                success: function (data) {

                    if (data.isRedirect) {

                        window.location.href = data.redirectUrl;
                    }
                    else {
                        if (data.result) {
                            $("#WishList").css("color", "red");
                            $("#Added").modal();
                            $(".modal-backdrop").detach();

                        }
                        if (!data.result) {
                            $("#AddedBefore").modal();
                            $(".modal-backdrop").detach();

                        }
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('error: ' + textStatus + ': ' + errorThrown);
                }
            });

        }


        //Get WishList
        function GetWishList() {
            var goodid = jQuery($("#WishList")).data("id");
            $.ajax({
                type: 'Post',
                url: '/Product/GetWishList/',
                data: { "GoodId": goodid },
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        $("#WishList").css("color", "red");
                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('error: ' + textStatus + ': ' + errorThrown);
                }
            });

        }


        $('#stars li').on('mouseover', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function (e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                }
                else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function () {
            $(this).parent().children('li.star').each(function (e) {
                $(this).removeClass('hover');
            });
        });
        /* 2. Action to perform on click */
        $('#stars li').on('click', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');

            for (i = 0; i < stars.length; i++) {
                $(stars[i]).removeClass('selected');
            }

            for (i = 0; i < onStar; i++) {
                $(stars[i]).addClass('selected');
            }

            // JUST RESPONSE (Not needed)
            var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
            var msg = "";
            $('#rates').val(ratingValue);

        });


    </script>
}