@model JahanAraShop.Models.GoodViewModel
@{
    ViewBag.Title = "WishList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dash-pg-header pg-header style2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 flx-element wrap">
                <div class="left">
                    <h4 class="bm-0 text-white">حساب کاربری شما</h4>
                </div>
                <!--left-->
                <ul class="breadcrumb">
                    <li class="active">حساب کاربری</li>
                    <li><a href="@Url.Action(MVC.Home.Index())">صفحه اصلی</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

@{var phone = ""; }
@{if (ViewBag.cellphone != null)
    {

        phone = ViewBag.cellphone;
    }
}
<main class="dash-content bg-soft-gray sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="account-nav" style="padding-left:10px;">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="icon radius-circle"><i class="pe-7s-keypad"></i></span> داشبورد
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.User.Orders(phone))">
                                <span class="icon radius-circle"><i class="pe-7s-cart"></i></span> سفارشات شما
                            </a>
                        </li>
                        
                        <li>
                            <a href="@Url.Action(MVC.Account.ChangePassword(phone))">
                                <span class="icon radius-circle"><i class="pe-7s-map-marker"></i></span> تغییر پسورد
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.User.Index(phone))">
                                <span class="icon radius-circle"><i class="pe-7s-user"></i></span> پروفایل
                            </a>
                        </li>
                        <li class="active">
                            <a href="@Url.Action(MVC.User.WishList(phone))">
                                <span class="icon radius-circle"><i class="fa fa-star-o"></i></span> علاقه مندی ها
                            </a>
                        </li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <span class="icon radius-circle"><i class="pe-7s-plug"></i></span> خروج
                                </a>
                            }
                        </li>
                    </ul>
                </nav>
                <div class="account-content dir">
                    @if (Model.Good.Count == 0)
                    {
                       
                        <h4 style='text-align:center;'>لیست علاقه مندی شما خالی است!</h4>
                    }
                    else
                    {
                    <table class="table_shop wish_list">
                        <thead>
                            <tr>
                                <th class="pdt_remove"></th>
                                <th class="pdt_name">محصول</th>
                                <th class="pdt_price">قیمت</th>
                                <th class="pdt_stk">وضعیت</th>
                                <th class="pdt_subtotal"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Good)
                            {
                                var price = 0;
                                if (item.DiscountValue == 0 || item.DiscountValue == null)
                                {
                                    price = Convert.ToInt32(item.RetailPrice.Value);
                                }
                                else
                                {
                                    price = Convert.ToInt32(item.RetailPrice - item.DiscountValue);

                                }

                                <tr class="crt_itm">
                                    <td class="pdt_remove removeItem" data-title="Remove" > <a href="#"><i class="pe-7s-close"></i></a> </td> 
                                    <td class="pdt_name itemDesc" data-title="Product name"  data-id="@item.ID">
                                        <figure class="pdt_thumb">
                                            @if (System.IO.File.Exists(Server.MapPath(JahanAraShop.Application.Resources.Paths.ImageFolder + "Products/") + item.BarCode + ".png"))
                                            {
                                                <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/@(item.BarCode).png" alt=''></figure>
                                            }
                                            else
                                            {
                                                <figure><img src="@(JahanAraShop.Application.Resources.Paths.ImageFolder)Products/defult.png" alt=''></figure>

                                            }
                                        </figure>
                                        <span class="pdt_title">@item.Name</span>
                                    </td>
                                    @if (item.DiscountPercent.Value != 0)
                                    {
                                        <td class="pdt_price" data-title="Product price">@item.RetailPrice.Value.ToString("#,##0")</td>
                                    }
                                    <td>@price.ToString("#,##0") &nbsp; ریال </td>

                                    <td class="pdt_stk" data-title="Stock">
                                        @if (item.HasRemiand == true)
                                        {
                                            <span>موجود</span>
                                            <span class="text-green"><i class="fa fa-check"></i></span>
                                        }

                                        else
                                        {
                                            <span>ناموجود</span>
                                            <span style="color:red;"><i class="fa fa-times"></i></span>

                                        }

                                    </td>
                                    <td class="pdt_subtotal" data-title="Total">
                                        <a href="@Url.Action(MVC.Product.Product(item.ID))" class="btn btn-default"> مشاهده محصول</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }

                </div>
            </div>

        </div>
        <div class="dir" id="dialog"></div>
        <!-- Modal -->
        <div class="modal fade" id="Added" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content dir">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">علاقه مندی</h4>
                    </div>
                    <div class="modal-body">
                        <p>با موفقیت حذف شد</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {

    <script type="text/javascript">
        jQuery(document).ready(function () {

            jQuery(".removeItem").click(function () {
                var $this = jQuery(this)[0];
                showConfirm("از لیست علاقه مندی حذف شود؟", function () {
                    $row = $this.closest("tr");
                    jQuery($row.closest("tr")).nextAll('tr.rowItem').each(function () {//بروز کردن شماره ردیف عناصر بعدی
                        var $radif = jQuery(this).children('.id');
                        $radif.text(parseInt($radif.text()) - 1);
                    });
                    $row.remove();//حذف آیتم

                    var $item = jQuery($this).closest("tr").children('.itemDesc');
                    var goodid = $item.data("id");
                    DeleteWish(goodid);
                    
                });
            });
        });

        var showConfirm = function (msg, success) {
            jQuery("#dialog").text(msg);
            jQuery("#dialog").dialog({
                title: "توجه",
                width: 500,
                modal: true,
                buttons: {
                    ok: {
                        // class: 'leftButton',
                        text: 'بله ',
                        click: function () {
                            success();
                            jQuery(this).dialog("close");
                        }
                    },
                    cancel: {//class: 'leftButton',
                        text: 'خیر',
                        click: function () {
                            jQuery(this).dialog("close");
                        }
                    }
                }
            });
        };
        var showAlert = function (msg) {
            jQuery("#dialog").text(msg);
            jQuery("#dialog").dialog({
                title: "توجه",
                width: 500,
                modal: true,
                buttons: {
                    ok: {
                        text: 'تائید ', click: function ()
                        { jQuery(this).dialog("close"); }
                    }
                }
            });
        };


        function DeleteWish(goodid) {
            $.ajax({
                type: 'Post',
                url: '/User/DeleteWishes/',
                data: { "goodid": goodid },
                dataType: "json",
                success: function (data) {

                    if (data.isRedirect) {

                        window.location.href = data.redirectUrl;
                    }
                    else {
                        if (data.result) {
                            $("#WishList").css("color", "red");
                            $("#Added").modal();
                            $(".modal-backdrop").detach();

                        }
                        if (!data.result) {
                            $("#AddedBefore").modal();
                            $(".modal-backdrop").detach();

                        }
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('error: ' + textStatus + ': ' + errorThrown);
                }
            });
        }
    </script>
}