@model JahanAraShop.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(MVC.Account.ResetPassword(), FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <main class="main">
        <div class="container">
            <div class="row sec-padding">
                <div class="col-md-12 col-sm-12">
                    <div class="login-wrap">
                        <div class="bm-30">
                            @Html.ValidationSummary(true, "", new { @class = "blockdisp text-danger" })
                            <span class="icon lh"><i class="icofont icofont-ui-unlock"></i></span>
                            <h3>رمز عبور جدید</h3>
                        </div>
                        <div class="form-group">
                            <label>رمز عبور جدید <span>*</span></label>
                            @Html.PasswordFor(m => m.Password, new { placeholder = " ********** ", @class = "dir" })
                            @Html.ValidationMessageFor(m => m.Password,"", new { @class = "blockdisp text-danger" })
                        </div>
                        <div class="form-group">
                            <label>تکرار رمز عبور جدید <span>*</span></label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = " ********** ", @class = "dir" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword,"", new { @class = "blockdisp text-danger" })
                        </div>
                        @Html.HiddenFor(m=>m.PhoneNumber, new { Value = @ViewBag.id } )
                        <div class="form-group">
                            <input type="submit" value="تایید">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

}

